<% service = Service.find(params[:id]) %>
<h1><%= service[:service_name] %></h1>

<p>insert the service info here</p>

<section class="quotes">
	<h4>Quotes:</h4>	

	<% quotes = Quote.where(service_id:service.id) %>
	<table>
		<tr>
			<td>Provider</td>
			<td>Price</td>
			<td>Info</td>
			<td>Creater</td>
		</tr>
		<% quotes.each do |q| %>
			<% creator = User.find(q[:user_id]) %>
			<tr>
				<td><%= q.provider %></td>
				<td><%= q.price %></td>
				<td><%= q.info %></td>
				<td><%= creator.first_name %> <%= creator.last_name %></td>
				
				<% if User.find(session[:user_id])[:owner] == true %>
					<% chosen = Quote.find_by_service_id_and_chosen(service.id, true) %>
					<% if chosen == nil %>
						<td id="button">
							<%= button_to "Choose provider!", choose_quote_path(q[:id]), method: "post" %>
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table>
</section>

<% if User.find(session[:user_id])[:admin] == true %>
	<%= link_to "Add a quote", new_quote_path %><br><br>
<% end %>

<br>
<%= link_to "Return to User Pannel", user_path(session[:user_id]) %>
