1. <strike>List users</strike> <br>
2. <strike>with admin yes or no</strike> <br>
3. <strike>button to make admin</strike> <br>
4. or demote admin <br>
<br>
<table>
	<tr><td>User</td><td>Admin?</td></tr>
	<% users = User.all %>
	<% users.each do |u| %>
	<tr>
		<td><%= u[:first_name] %> <%= u[:last_name] %></td>
		<td><%= u[:admin] %></td>
		<td>
			<% if u[:admin] == false %>
				<%= button_to "Promote!", promote_admin_path(u[:id]), method: "post" %>
			<% else %>
				<%= button_to "Demote!", demote_admin_path(u[:id]), method: "post" %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>