<h1>Admin Management</h1>
<table>
	<tr><td>User</td><td>Admin?</td></tr>
	<% users = User.all %>
	<% users.each do |u| %>
	<tr>
		<td><%= u[:first_name] %> <%= u[:last_name] %></td>
		<td><%= u[:admin] %></td>
		<td id="button">
			<% if u[:admin] == false %>
				<%= button_to "Promote!", promote_admin_path(u[:id]), method: "post" %>
			<% else %>
				<%= button_to "Demote!", demote_admin_path(u[:id]), method: "post" %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>