<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>
	<%= @user.email %><br>
	Admin: <%= @user.admin %>
</p>

<section class="admins">
	<h4><%= link_to "admins:", admins_path %></h4>
	<ul>
			<% users = User.all %>
			<% users.each do |user| %>
				<% if user[:admin] == true %>
		    		<li><%= user[:first_name] %> <% user[:last_name] %></li>

		    	<% end %>
			<% end %>	
		</ul>
</section>

<section class="services">
	<h4><%= link_to "services:", services_path %></h4>
	<% services = Service.all %>
	<ul>
		<% services.each do |s| %>
			<% if @user.admin == true %>
				<li><%= s.service_name %></li>
			<% else %>
				<li><%= s.service_name %></li>
			<% end %>
		<% end %>
	</ul>
</section>

<h2>Do later if there is enough time:</h2>
<section>tasks section (Y U no do this yet?!?)</section>

<section>payments section (Y U no do this yet?!?)</section>

<p>User, Admin, and Owner pannels will need to be different, at least partially.  Perhaps the same sections with differnt interactions.</p>
