<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<p>
	<%= @user.email %><br>
	<% if @user.admin == true %>
		You are an admin!
	<% end %>
</p>



<div class="services">
	<% services = Service.all %>
	<% total = 0 %>
	<table>
		<tr><td class="table_title">Services</td></tr>
		<tr class="column_names">
			<td>Service Name</td>
			<td>Quote #</td>
			<td>Quote Chosen?</td>
			<td>Price</td>
		</tr>
		<% services.each do |s| %>
			<% c = "No" %>
			<% chosen = Quote.find_by_service_id_and_chosen(s.id, true) %>
			<% if chosen != nil %>
				<% c = "Yes" %>
			<% end %>
			<% count = Quote.where(service_id: s.id).count %>

			<tr>
				<td><%= link_to "#{s.service_name}", service_path(s[:id]) %></td>
				<td><%= count %></td>
				<td><%= c %></td>
				<td>
					<% if c == "Yes" %>
						$ <%= chosen.price %>
						<% total += chosen.price %>
					<% end %>
				</td>
			</tr>
		<% end %>
		<tr><td class="total">Total: $ <%= total %></td></tr>
	</table>
</div>

<div class="admins">
	<% users = User.all %>
	<table>
		<tr><td class="table_title">Admins</td></tr>
		<tr class="column_names">
			<td>Name</td>
			<td>Quotes Added</td>
		</tr>
		<% users.each do |user| %>
			<% count = Quote.where(user_id: user.id).count %>
			<% if user[:admin] == true %>
	    		<tr>
	    			<td><%= link_to "#{user[:first_name]} #{user[:last_name]}", admin_path(user[:id]) %></td>
	    			<td><%= count %></td>
	    		</tr>

	    	<% end %>
		<% end %>	
	</table>
</div>